*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #f6f7fb; }

.h1-meun {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 2.5rem;
  margin-bottom: 0; }

.h2-TC {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 0; }

.h3-EN {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 0; }

.h4-TC {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-bottom: 0; }

.h5-TC {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.9rem;
  margin-bottom: 0; }

.h5-EN {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 0; }

.copyright {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 0; }

.header {
  display: flex;
  height: 12vh;
  padding: 0 7vw;
  justify-content: space-between;
  align-items: center;
  background-color: #fed801; }

.switch {
  display: flex;
  background-color: #fff;
  border-radius: 50px; }
  .switch .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 42px;
    border-radius: 50px;
    cursor: pointer;
    gap: 1rem;
    border: none; }
  .switch .btn-on {
    background-color: #000;
    color: #fed801;
    z-index: 2; }
  .switch .btn-off {
    background-color: #fff;
    z-index: 1; }
  .switch .rent-text,
  .switch .return-text {
    text-align: justify; }

.img-show {
  cursor: pointer; }

#mapid {
  height: 88vh;
  background-color: #f6f7fb; }

.leaflet-control-zoom {
  opacity: 0; }

.leaflet-popup-content-wrapper {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative; }

.leaflet-popup-tip {
  display: none; }

.search {
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 20%;
  transform: translateX(-40%); }
  .search__text {
    width: 33.3vw;
    height: 5.6rem;
    border-radius: 1rem; }
  .search__btn {
    width: 5.6rem;
    height: 5.6rem;
    background-color: #000;
    border-radius: 1rem; }

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.numberColor {
  color: #fed801; }
