.search-contain {
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $color-primary;
}

.logo {
  display: flex;
  flex-direction: column;

  &-1 {
    width: 119px;
    height: 75px;
  }

  &-2 {
    width: 245px;
    height: 47px;
  }

  &__text {
    letter-spacing: 0.92em;
  }
}

.nav-box {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;

  &__btn {
    width: 24.4rem;
    height: 4.8rem;
    border-radius: 1rem;
    background-color: $color-primary;
    border: $color-black solid 0.1rem;
    &:link,
    &:visited {
      transform: translateY(0);
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      background-color: $color-black;
      transform: translateY(-3px);
    }
  }

  &__item {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

    &:link,
    &:visited {
      color: $color-black;
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: $color-primary;
    }
  }
}
.footer {
  text-align: right;
  padding: 2rem 4rem;
  background-color: $color-primary;
}
