.h1-meun {
  font-family: $font-ch;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 2.5rem;
  margin-bottom: 0;
}

.h2-TC {
  font-family: $font-ch;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 0;
}

.h3-EN {
  font-family: $font-en;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 0;
}

.h4-TC {
  font-family: $font-ch;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-bottom: 0;
}

.h5-TC {
  font-family: $font-ch;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.9rem;
  margin-bottom: 0;
}
.h5-EN {
  font-family: $font-en;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}

.copyright {
  font-family: $font-en;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 0;
}
